:root {
    --background: #12151C;
    --text: white;

    --accent: #95E6CB;
    --accent-2: #73D0FF;

    --primary: #409FFF21;
    --secondary: #409FFF40;
    --tertiary: #17191f;

}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Inter', sans-serif;

    overflow: overlay;
    overflow-x: hidden;

    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
    border-radius: 100px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

#mouse-trail {
    position: fixed;
    display: inline-block;
    background-color: var(--accent);
    opacity: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 100rem;

    transition: 0.1s ease-out;

    pointer-events: none;

}

nav {
    position: fixed;
    top: 0;
    left: 0;

    height: 3rem;
    width: 100%;
    
    z-index: 1000;
    overflow: hidden;

    background-color: var(--tertiary);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: row;

    .profile {
        height: 100%;
        display: inline-flex;
        width: 50rem;

        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        margin-left: 1rem;
        gap: 1rem;

        img {
            height: 2rem;
            width: 2rem;
            border-radius: 100rem;
        }

        span {
            font-size: 1rem;
            line-height: 2rem;
            margin-top: 2rem;
            
            transition: all 0.25s ease-out;

            .second {
                color: var(--accent);
                font-weight: bold;
            }
        }
        span:hover {
            margin-top: -2rem;
            cursor: pointer;
        }
    }
    .contact {
        height: 100%;
        display: inline-flex;
        width: 35rem;

        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        margin-right: 1rem;
        gap: 1rem;

        a {
            display: inline-block;
            height: 2rem;
            width: 2rem;
            background-color: white;
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: contain;

            transition: all 0.1s ease-out;
        }
        a:hover {
            transform: scale(1.05);
            background-color: var(--accent);
        }
    }
}

.center-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}