.hero {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        width: 75vw;
        height: 20rem;
        font-size: 3.5rem;
        font-weight: 400;

        line-height: 150%;

        .name {
            font-size: 7rem;
            /* letter-spacing: -10%; */
            letter-spacing: -7px;

            .wave {
                display: inline-block;
                animation: wave 2s infinite;
            }
        }

        .code {
            display: inline-block;
            font-family: 'Fire Code', monospace;
            font-style: italic;
            font-size: 1.5rem;
            background-color: var(--primary);
            padding: 0.5rem;
            line-height: 100%;
            border-radius: 0.8rem;
        }

        .code::after {
            content: '   ';
            display: inline-block;
            width: 0.7ch;
            height: 1.5rem;
            background-color: var(--accent);
            animation: cursor 0.8s infinite;

        }
    }


}

@keyframes wave {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(35deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

@keyframes cursor {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}