@import "./base.scss";

.section {
    height: 100vh;
    width: 100vw;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    .left {
        #profile-picture {
            border-radius: 1.25rem;
            height: 2.5rem;
            width: 2.5rem;
        }
        span {
            font-weight: 500;
        }
    }

}